body{
    margin: 40px 5%;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 5px;
    justify-content: center;
}

body div{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* .emoji-card{
    display: none;
} */